{{define "title"}}Mensa{{end}}
{{define "content"}}

{{range $time, $meals := .}}

{{if $meals}}
<h2>
	{{if eq $time 1}}
	Frühstück
	{{else if eq $time 2}}
		Mittagessen
		{{else if eq $time 3}}
			Zwischenversorgung
			{{else if eq $time 4}}
				Abendessen
				{{end}}
</h2>
{{end}}

{{range $meals}}
<h3>{{.Name}}</h3>
<div class="dishes">
	{{range .Dishes}}
	<div class="dish" style="--diet-color: {{.Diet | dietColor}}">
		<h3>
			{{.Name}}
			{{range .Diet | dietInfo}}
			<span title="enthält {{.Contains}}">{{.Emoji}}</span>
			{{end}}
		</h3>
		<ul class="ingredients">
			{{range .Ingredients}}
			<li>
				{{.Name}}
				{{range .Diet | dietInfo}}
				<span title="enthält {{.Contains}}">{{.Emoji}}</span>
				{{end}}
			</li>
			{{end}}
		</ul>
		<span>{{.StudentPrice | formatMoney}}</span>
	</div>
	{{end}}
</div>
{{end}}

{{end}}

<style>
.name {
	padding-block: 1em 0.5em;
}

.dish {
	border-radius: 1em;
	border: 0.1em solid var(--diet-color);

	padding: 1em;
}

.dish>h3 {
	font-size: 1.1rem;
	padding: 0;
}

.dishes {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.ingredients {
	padding-inline-start: 2em;
}
</style>

{{end}}
