{{define "title"}}{{.Name}}{{end}}
{{define "content"}}
<div class="subtitle">
	{{if .Number}}<span>#{{.Number}}</span>{{end}}

	{{if .Module.ShortText}}
	<a href="/module/{{.Module.Id}}">{{.ShortText}}</a>
	{{else if .ShortText}}
		<span>{{.ShortText}}</span>
		{{end}}

		<a href="https://friedolin.uni-jena.de/qisserver/rds?state=verpublish&publishid={{.Id}}&moduleCall=webInfo&publishConfFile=webInfo&publishSubDir=veranstaltung">Friedolin</a>
		{{if .Moodle}}<a href="{{.Moodle}}">Moodle</a>{{end}}
		<span class="hend">{{.Type | formatEventType}}</span>
		<span>{{if eq .Term.Season 1}}Sommer
			{{else}}Winter{{end}} {{.Term.Year}}</span>
</div>

{{if .Content}}
<h2>Inhalt</h2>
<div class="text">{{.Content | html}}</div>
{{end}}

{{if .Literature}}
<h2>Literatur</h2>
<div class="text">{{.Literature | html}}</div>
{{end}}

{{if .Comment}}
<h2>Kommentar</h2>
<div class="text">{{.Comment | html}}</div>
{{end}}

{{if .Prerequisites}}
<h2>Voraussetzungen</h2>
<div class="text">{{.Prerequisites | html}}</div>
{{end}}

{{template "schedule_cmp.html" .Schedule}}

{{end}}
