{{define "title"}}Noten{{end}}
{{define "content"}}

{{range .}}
<details class="grade">
	<summary class="grade-line">
		<h2 class="grade-name">{{.Name}}</h2>
		{{if .Grade}}<span class="grade-grade">{{.Grade | formatGrade}}</span>{{end}}
	</summary>
	{{range .Exams}}
	<div class="grade-line">
		<span class="grade-name">
			{{.Name}}
			{{if ne .Tries 1}}
			({{.Try}}/{{.Tries}})
			{{end}}
		</span>
		{{if .Grade}}<span class="grade-grade">
			{{if eq .Reason 1}}
			Abwesend
			{{else}}
				{{.Grade | formatGrade}}
				{{end}}
		</span>{{end}}
	</div>
	{{end}}
</details>
{{end}}

<style>
.grade {
	border: 1px solid var(--rule-color);

	margin-top: 1.5em;
	border-radius: 1em;
}

.grade summary {
	background: #f5f5f5;
	border-radius: 1em;

	cursor: pointer;
}

.grade-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.grade h2 {
	font-size: 1.1rem;
	font-weight: normal;
}

.grade-name,
.grade-grade {
	padding: 0.5em 1em;
}

.grade-grade {
	width: 7em;
	text-align: right;
	border-left: 1px solid var(--rule-color);
}

@media (prefers-color-scheme: dark) {
	.grade summary {
		background: #262626;
	}
}
</style>

{{end}}
