{{define "title"}}{{.Name}}, {{.Building.Name}}{{end}}
{{define "content"}}

<div class="subtitle">
	<span>{{.ShortName}}</span>
	{{if .Building.Campus}}<span>{{.Building.Campus}}</span>{{end}}
	<a href="https://friedolin.uni-jena.de/qisserver/rds?state=verpublish&moduleCall=webInfo&publishConfFile=webInfoRaum&publishSubDir=raum&raum.rgid={{.Id}}">Friedolin</a>
</div>

{{range .Images}}
<img class="room-image" src="https://friedolin.uni-jena.de/qisserver/rds?state=medialoader&objectid={{.}}&application=lsf" onerror="this.remove()">
{{end}}

<style>
.room-image {
	max-height: 400px;
	max-width: 100%;
}
</style>

{{end}}
